<p id="notice"><%= notice %></p>

<h1>Compteurs</h1>

<table>
  <thead>
    <tr>
      <th>Libelle</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compteurs.each do |compteur| %>
      <tr>
        <td><%= compteur.libelle %></td>
        <td><%= compteur.description %></td>
        <td><%= link_to 'Show', compteur %></td>
        <td><%= link_to 'Edit', edit_compteur_path(compteur) %></td>
        <td><%= link_to 'Destroy', compteur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compteur', new_compteur_path %>
