<div class="container">
  <div class="row">
    <%=render "menus/nc" %>
    <div class="col-lg-7 col-12">
      <div style="background-color:white;width:100%;padding:3%;border-radius:5px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0);">
<h5 style="background-color: #ae211b; color: white;padding: 2.5%;text-transform: uppercase;font-weight:bold;margin-top:30%;">Créer un compte</h5>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="row">
  <div class="form-group col-lg-7 col-12">
    <%= f.label :nom_complet %><br />
    <%= f.text_field :nom, class:"form-control"%>
  </div>
      <div class="form-group col-lg-5 col-12">
    <%= f.label :nationalite %><br />
    <%= f.text_field :nationalite, class:"form-control"%>
  </div>
  <div class="form-group col-lg-5 col-12">
    <%= f.label :numero_de_téléphone %><br />
    <%= f.telephone_field :telephone, class:"form-control"%>
  </div>

  <div class="form-group col-lg-4 col-12">
    <%= f.label :email %><br />
    <%= f.email_field :email, class:"form-control" %>
  </div>

  <div class="form-group col-lg-3 col-12">
    <%= f.label :sexe %>
    <%= f.collection_select :sex_id, Sex.all, :id, :nom, {prompt:"Choisir"},class:"select-css form-control", required: :true  %>
  </div>

    <div class="form-group col-lg-4 col-12">
    <%= f.label :mot_de_passe %>
    <%= f.password_field :password, class:"form-control" %>
  </div>

  <div class="form-group col-lg-4 col-12">
    <%= f.label :confirmer_mot_de_passe %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
  </div>
  
  <div class="form-group col-lg-4 col-12">
    <%= f.label :date_de_naissance %>
    <%= f.date_field :date,class:"form-control", required: :true  %>
  </div>

  <div class="form-group col-lg-4 col-12">
    <%= f.label :lieu_de_naissance %>
    <%= f.text_field :lieu,class:"form-control", required: :true  %>
  </div>

    <div class="form-group col-lg-4 col-12">
    <%= f.label :statut_matrimonial %>
    <%= f.collection_select :statut_id, Statut.all, :id, :nom, {prompt:"Sélectionner"},class:"select-css form-control", required: :true  %>
  </div>

    <div class="form-group col-lg-4 col-12">
    <%= f.label :situation_professionnelle %>
    <%= f.collection_select :situation_id, Situation.all, :id, :nom, {prompt:"Sélectionner"},class:"select-css form-control", required: :true  %>
  </div>



  </div>
  </div>
  </div>
<div class="col-lg-5 col-12">
  <div style="background-color:white;width:100%;padding:3%;border-radius:5px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0);">
  <div class="row">

    <div class="form-group col-lg-6 col-12">
    <%= f.label :province %>
    <%= f.collection_select :province_id, Province.all, :id, :nom, {prompt:"Sélectionner"},class:"select-css form-control", required: :true  %>
  </div>

    <div class="form-group col-lg-6 col-12">
    <%= f.label :ville %>
    <%= f.collection_select :ville_id, Ville.all, :id, :nom, {prompt:"Sélectionner"},class:"select-css form-control", required: :true  %>
  </div>

  <div class="form-group col-lg-6 col-12">
    <%= f.label :arrondissement %>
    <%= f.collection_select :arrondissement_id, Arrondissement.all, :id, :nom, {prompt:"Sélectionner"},class:"select-css form-control", required: :true  %>
  </div>

  <div class="form-group col-lg-6 col-12">
    <%= f.label :commune %>
    <%= f.text_field :commune,class:"form-control", required: :true  %>
  </div>

  <div class="form-group col-lg-6 col-12">
    <%= f.label :quartier %>
    <%= f.text_field :quartier,class:"form-control", required: :true  %>
  </div>

    <div class="form-group col-lg-6 col-12">
    <%= f.label :cnamgs %>
    <%= f.text_field :cnamgs,class:"form-control", required: :true  %>
  </div>

  <div class="form-group col-lg-6 col-12">
    <%= f.label :cnss %>
    <%= f.text_field :cnss,class:"form-control", required: :true  %>
  </div>

    <div class="form-group col-lg-6 col-12">
    <%= f.label :numéro_one %>
    <%= f.text_field :one,class:"form-control", required: :true  %>
  </div>

  <div class="form-group col-lg-6 col-12">
    <%= f.label :religion %>
    <%= f.text_field :religion,class:"form-control", required: :true  %>
  </div>

  <div class="form-group col-lg-6 col-12">
    <%= f.label :lieu_de_priere %>
    <%= f.text_field :lieu_de_priere,class:"form-control", required: :true  %>
  </div>


  <div class="col-lg-12 col-12">
    <%= f.button 'Valider et créer le compte'.html_safe, type: :submit, class:"btn btn-kit-yellow btn-block", :data => {:disable_with => "<i class='fa fa-spinner fa-spin'></i> Création du compte..."} %>
  </div>
  </div>
<% end %>
    </div>
    </div>
<%= render "chefs/shared/links" %>      

  </div>
</div>