<%= form_with(model: cnam, local: true) do |form| %>
  <% if cnam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cnam.errors.count, "error") %> prohibited this cnam from being saved:</h2>

      <ul>
      <% cnam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :libelle %>
    <%= form.text_field :libelle %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
