<p id="notice"><%= notice %></p>

<h1>Cnams</h1>

<table>
  <thead>
    <tr>
      <th>Libelle</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cnams.each do |cnam| %>
      <tr>
        <td><%= cnam.libelle %></td>
        <td><%= cnam.description %></td>
        <td><%= link_to 'Show', cnam %></td>
        <td><%= link_to 'Edit', edit_cnam_path(cnam) %></td>
        <td><%= link_to 'Destroy', cnam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cnam', new_cnam_path %>
