<%= form_with(model: ville, local: true) do |form| %>
  <% if ville.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ville.errors.count, "error") %> prohibited this ville from being saved:</h2>

      <ul>
      <% ville.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nom %>
    <%= form.text_field :nom %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :province %>
    <%= form.collection_select :province_id, Province.all, :id, :nom, {prompt:"Choisir la province"} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
