<div class="container">
  <div class="row">
    <%=render "menus/main" %>
    <div class="col-lg-8 offset-lg-2 col-12 p-4">
<%= form_with(model: loyerentreprise, local: true) do |form| %>
  <% if loyerentreprise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loyerentreprise.errors.count, "error") %> prohibited this loyerentreprise from being saved:</h2>

      <ul>
      <% loyerentreprise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
      <div class="col-12">
      <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><small>Accueil</small></a></li>
    <li class="breadcrumb-item active" aria-current="page"><small>Appui aux PME</small></li>
  </ol>
</nav>
    </div>
<div class="col-12">
    <h5>Informations</h5>
    <p><i><small>Partie réservée aux propriétaires d'une activité commerciale, responsable d'ONGs et d'associations.</small></i></p>
</div>
<div class="form-group col-lg-4 col-12">
    <label for="compte"><small>Sélectionner un compte</small></label>
    <%= form.collection_select :compte_id, current_chef.comptes.all, :id, :nom, {prompt:"Sélectionner"},class:"select-css form-control", required: :true  %>
  </div>

  <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>raison sociale</small></label>
    <%= form.text_field :raison_sociale,class:"form-control", required: :true %>
  </div>

  <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>forme juridique</small></label>
    <%= form.collection_select :forme_id, Forme.all, :id, :nom, {prompt:"Choisir"},class:"select-css form-control", required: :true %>
  </div>

  <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>secteur d'activité</small></label>
    <%= form.text_field :secteur,class:"form-control", required: :true %>
  </div>

    <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>nature d'activité</small></label>
    <%= form.text_field :nature,class:"form-control", required: :true %>
  </div>

  <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>fiche circuit ou récépissé<br/>
    (si vous n'avez pas de fiche circuit)</small></label>
    <%= form.file_field :fiche,class:"form-control", required: :true %>
  </div>

  <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>Numéro récépissé</small></label>
    <%= form.text_field :recepisse,class:"form-control" %>
  </div>

  <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>Numéro nif</small></label>
    <%= form.text_field :nif,class:"form-control" %>
  </div>
    <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>Numéro rccm</small></label>
    <%= form.text_field :rccm,class:"form-control" %>
  </div>

    <div class="col-12">
  </div>
    <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>province</small></label>
    <%= form.collection_select :province_id, Province.all, :id, :nom, {prompt:"Choisir"},class:"select-css form-control", required: :true %>
  </div>

    <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>commune/ville/département</small></label>
    <%= form.text_field :ville,class:"form-control", required: :true %>
  </div>
  
  <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>quartier/village</small></label>
    <%= form.text_field :quartier,class:"form-control", required: :true %>
  </div>

  <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>date de création juridique</small></label>
    <%= form.text_field :quartier,class:"form-control", required: :true %>
  </div>

      <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>nombre d'employés</small></label>
    <%= form.text_field :rccm,class:"form-control" %>
  </div>

      <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>pertes probables/mois</small></label>
    <%= form.text_field :rccm,class:"form-control"%>
  </div>

      <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>statut siège social</small></label>
    <%= form.collection_select :siege_id, Siege.all, :id, :nom, {prompt:"Choisir"},class:"select-css form-control", required: :true %>
  </div>
  
    <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>montant du loyer/mois</small></label>
    <%= form.text_field :loyer_mensuel,class:"form-control" %>
  </div>

  <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>nom du bailleur</small></label>
    <%= form.text_field :nom_proprietaire,class:"form-control" %>
  </div>


  <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>numéro de téléphone</small></label>
    <%= form.telephone_field :telephones_proprietaire,class:"form-control" %>
  </div>

  <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>adresse email</small></label>
    <%= form.email_field :email_proprietaire,class:"form-control"%>
  </div>
  <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>statut du bailleur</small></label>
    <%= form.collection_select :situation, Situation.all, :nom, :nom, {prompt:"Choisir"},class:"select-css form-control" %>
  </div>
    <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>situation actuelle</small></label>
    <%= form.collection_select :actu_id, Actu.all, :id, :nom, {prompt:"Choisir"},class:"select-css form-control", required: :true %>
  </div>




    <div class="form-group col-lg-4 col-12">
    <%= form.hidden_field :distribue_id,class:"form-control", value: '2'  %>
  </div>
  <div class="col-lg-12 col-12">
    <%= form.button 'Valider'.html_safe, type: :submit, class:"btn btn-kit-yellow btn-block", required: :true, :data => {:disable_with => "<i class='fa fa-spinner fa-spin'></i> Validation..."} %>
  </div>
  </div>
<% end %>
</div>
</div>
</div>