<p id="notice"><%= notice %></p>

<p>
  <strong>Nom proprietaire:</strong>
  <%= @loyerentreprise.nom_proprietaire %>
</p>

<p>
  <strong>Date de naissance proprietaire:</strong>
  <%= @loyerentreprise.date_de_naissance_proprietaire %>
</p>

<p>
  <strong>Lieu de naissance proprietaire:</strong>
  <%= @loyerentreprise.lieu_de_naissance_proprietaire %>
</p>

<p>
  <strong>Telephones proprietaire:</strong>
  <%= @loyerentreprise.telephones_proprietaire %>
</p>

<p>
  <strong>Email proprietaire:</strong>
  <%= @loyerentreprise.email_proprietaire %>
</p>

<p>
  <strong>Lieu de residence proprietaire:</strong>
  <%= @loyerentreprise.lieu_de_residence_proprietaire %>
</p>

<p>
  <strong>Raison sociale:</strong>
  <%= @loyerentreprise.raison_sociale %>
</p>

<p>
  <strong>Secteur:</strong>
  <%= @loyerentreprise.secteur %>
</p>

<p>
  <strong>Fiche:</strong>
  <%= @loyerentreprise.fiche %>
</p>

<p>
  <strong>Rccm:</strong>
  <%= @loyerentreprise.rccm %>
</p>

<p>
  <strong>Nif:</strong>
  <%= @loyerentreprise.nif %>
</p>

<p>
  <strong>Telephones:</strong>
  <%= @loyerentreprise.telephones %>
</p>

<p>
  <strong>Email:</strong>
  <%= @loyerentreprise.email %>
</p>

<p>
  <strong>Cnamgs:</strong>
  <%= @loyerentreprise.cnamgs %>
</p>

<p>
  <strong>Cnss:</strong>
  <%= @loyerentreprise.cnss %>
</p>

<%= link_to 'Edit', edit_loyerentreprise_path(@loyerentreprise) %> |
<%= link_to 'Back', loyerentreprises_path %>
