<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @type.nom %>
</p>

<p>
  <strong>Description:</strong>
  <%= @type.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @type.slug %>
</p>

<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
