<div class="container-fluid intro" id="intro">
  <div class="row">
    <%= render 'menus/main' %>
    <div class="col-lg-6 offset-3 m-top text-center">      
<div class="card">
  <div class="card-body">
    <h1 class="card-title text-success text-maj text-bold" id="notice">
    <%= notice %>
  </h1>
  </div>
</div>
    </div>
  </div>
</div>
<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Pays:</strong>
  <%= @signalement.pays %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @signalement.ville %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @signalement.nom %>
</p>

<p>
  <strong>Sexe:</strong>
  <%= @signalement.sexe_id %>
</p>

<p>
  <strong>Passeport:</strong>
  <%= @signalement.passeport %>
</p>

<p>
  <strong>Contact whatsapp:</strong>
  <%= @signalement.contact_whatsapp %>
</p>

<p>
  <strong>Date:</strong>
  <%= @signalement.date %>
</p>

<p>
  <strong>Raison du sejour:</strong>
  <%= @signalement.raison_du_sejour %>
</p>

<p>
  <strong>Enfants:</strong>
  <%= @signalement.enfants %>
</p>

<p>
  <strong>Pieces jointes:</strong>
  <%= @signalement.pieces_jointes %>
</p>

<%= link_to 'Edit', edit_signalement_path(@signalement) %> |
<%= link_to 'Back', signalements_path %>
