<div class="container-fluid intro" id="intro">
  <div class="row">
    <%= render 'menus/main' %>
    <div class="col-lg-6 offset-3 m-top text-center">      
<div class="card">
  <div class="card-body">
    <h1 class="card-title text-success text-maj text-bold" id="notice">
    <%= notice %>
  </h1>
  </div>
</div>
    </div>
  </div>
</div>
<!--

<p>
  <strong>Commune:</strong>
  <%= @kit.commune_id %>
</p>

<p>
  <strong>Arrondissement:</strong>
  <%= @kit.arrondissement_id %>
</p>

<p>
  <strong>Quartier:</strong>
  <%= @kit.quartier %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @kit.nom %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @kit.sex_id %>
</p>

<p>
  <strong>Date de naissance:</strong>
  <%= @kit.date_de_naissance %>
</p>

<p>
  <strong>Lieu de naissance:</strong>
  <%= @kit.lieu_de_naissance %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @kit.statut_id %>
</p>

<p>
  <strong>Niveau etude mere:</strong>
  <%= @kit.niveau_etude_mere %>
</p>

<p>
  <strong>Activite mere:</strong>
  <%= @kit.activite_mere %>
</p>

<p>
  <strong>Revenu mensuel:</strong>
  <%= @kit.revenu_mensuel %>
</p>

<p>
  <strong>Habitat:</strong>
  <%= @kit.habitat_id %>
</p>

<p>
  <strong>Telephones:</strong>
  <%= @kit.telephones %>
</p>

<p>
  <strong>Email:</strong>
  <%= @kit.email %>
</p>

<p>
  <strong>Activite professionnelle:</strong>
  <%= @kit.activite_professionnelle %>
</p>

<p>
  <strong>Cnamgs:</strong>
  <%= @kit.cnamgs %>
</p>

<p>
  <strong>Cnss:</strong>
  <%= @kit.cnss %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @kit.religion %>
</p>

<p>
  <strong>Lieu de priere:</strong>
  <%= @kit.lieu_de_priere %>
</p>

<p>
  <strong>Nombre handicap:</strong>
  <%= @kit.nombre_handicap %>
</p>

<p>
  <strong>Nombre agees:</strong>
  <%= @kit.nombre_agees %>
</p>

<p>
  <strong>Nombre mere:</strong>
  <%= @kit.nombre_mere %>
</p>

<p>
  <strong>Nombre jeune:</strong>
  <%= @kit.nombre_jeune %>
</p>

<p>
  <strong>Nombre orphelin:</strong>
  <%= @kit.nombre_orphelin %>
</p>

<p>
  <strong>Numero compteur:</strong>
  <%= @kit.numero_compteur %>
</p>

<p>
  <strong>Numero canal:</strong>
  <%= @kit.numero_canal %>
</p>

<p>
  <strong>Numero mobile money:</strong>
  <%= @kit.numero_mobile_money %>
</p>

<%= link_to 'Edit', edit_kit_path(@kit) %> |
<%= link_to 'Back', kits_path %>
