<p id="notice"><%= notice %></p>

<p>
  <strong>Province:</strong>
  <%= @kitalimentaire.province_id %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @kitalimentaire.ville %>
</p>

<p>
  <strong>Arrondissement:</strong>
  <%= @kitalimentaire.arrondissement %>
</p>

<p>
  <strong>Quartier:</strong>
  <%= @kitalimentaire.quartier %>
</p>

<p>
  <strong>Compteur:</strong>
  <%= @kitalimentaire.compteur_id %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @kitalimentaire.nom %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @kitalimentaire.sex_id %>
</p>

<p>
  <strong>Age:</strong>
  <%= @kitalimentaire.age %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @kitalimentaire.profession %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @kitalimentaire.nombre %>
</p>

<p>
  <strong>Cnamgs:</strong>
  <%= @kitalimentaire.cnamgs_id %>
</p>

<p>
  <strong>Contacts:</strong>
  <%= @kitalimentaire.contacts %>
</p>

<p>
  <strong>Piece:</strong>
  <%= @kitalimentaire.piece %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @kitalimentaire.photo %>
</p>

<p>
  <strong>Eligible:</strong>
  <%= @kitalimentaire.eligible_id %>
</p>

<p>
  <strong>Chef:</strong>
  <%= @kitalimentaire.chef_id %>
</p>

<%= link_to 'Edit', edit_kitalimentaire_path(@kitalimentaire) %> |
<%= link_to 'Back', kitalimentaires_path %>
