<div class="container-fluid">
  <div class="row">
    <%=render "menus/main" %>
    <div class="col-lg-12 col-12 p-4">
<%= form_with(model: loyer, local: true) do |form| %>
  <% if loyer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loyer.errors.count, "error") %> prohibited this loyer from being saved:</h2>

      <ul>
      <% loyer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-lg-6 col-12" style="padding:1%;">
      <div style="width:100%;padding:3%;border-radius:5px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0);">
              <div class="row">
                    <div class="form-group col-lg-4 col-12">
    <label for="compte"><small>Sélectionner un compte</small></label>
    <%= form.collection_select :compte_id, current_chef.comptes.all, :id, :nom, {prompt:"Sélectionner"},class:"select-css form-control", required: :true  %>
  </div>
          <div class="col-lg-12 col-12">
      <h5 class="text-titre">Informations sur le logement</h5>
    </div>
      <div class="form-group col-lg-6 col-12">
    <label for="compte"><small>type de logement</small></label>
    <%= form.collection_select :type_id, Type.all, :id, :nom, {prompt:"Sélectionner"},class:"select-css form-control", required: :true %>
  </div>
    <div class="form-group col-lg-6 col-12">
    <label for="compte"><small>construit en</small></label>
    <%= form.collection_select :construction_id, Construction.all, :id, :nom, {prompt:"Sélectionner"},class:"select-css form-control", required: :true%>
  </div>
    <div class="form-group col-lg-12 col-12">
    <label for="compte"><small>province</small></label>
    <%= form.collection_select :province_id, Province.all, :id, :nom, {prompt:"Sélectionner"},class:"select-css form-control", required: :true %>
  </div>
    <div class="form-group col-lg-6 col-12">
    <label for="compte"><small>ville</small></label>
    <%= form.collection_select :ville_id, Ville.all, :id, :nom, {prompt:"Sélectionner"},class:"select-css form-control", required: :true %>
  </div>
    <div class="form-group col-lg-6 col-12">
    <label for="compte"><small>arrondissement</small></label>
    <%= form.collection_select :arrondissement_id, Arrondissement.all, :id, :nom, {prompt:"Sélectionner"},class:"select-css form-control", required: :true %>
  </div>
    <div class="form-group col-lg-6 col-12">
    <label for="compte"><small>montant du loyer/mois</small></label>
    <%= form.text_field :loyer_mensuel,class:"form-control", required: :true %>
  </div>
  <div class="form-group col-lg-4 col-12">
    <%= form.hidden_field :distribue_id,class:"form-control", value: '2'  %>
  </div>
</div>

  </div>
</div>

  <div class="col-lg-6 col-12" style="padding:1%;">
    <div style="width:100%;padding:3%;border-radius:5px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0);">
            <div class="row">

  <div class="col-lg-12 col-12">
    <h5 class="text-titre">Informations du Propriétaire</h5>
  </div>
  <div class="form-group col-lg-12 col-12">
    <label for="compte"><small>nom du bailleur</small></label>
    <%= form.text_field :nom_et_prenom,class:"form-control", required: :true %>
  </div>

  <div class="form-group col-lg-6 col-12">
    <label for="compte"><small>date de naissance</small></label>
    <%= form.date_field :date_de_naissance_proprietaire,class:"form-control", required: :true %>
  </div>

  <div class="form-group col-lg-6 col-12">
    <label for="compte"><small>lieu de naissance</small></label>
    <%= form.text_field :lieu_de_naissance,class:"form-control", required: :true %>
  </div>
  <div class="form-group col-lg-6 col-12">
    <label for="compte"><small>type de pièce</small></label>
    <%= form.collection_select :piece_id, Piece.all, :id, :nom, {prompt:"Sélectionner"},class:"select-css form-control", required: :true %>
  </div>
  <div class="form-group col-lg-6 col-12">
    <label for="compte"><small>numéro de la pièce</small></label>
    <%= form.file_field :numero_piece,class:"form-control", required: :true %>
  </div>
  <div class="form-group col-lg-6 col-12">
    <label for="compte"><small>numéro de téléphone</small></label>
    <%= form.telephone_field :telephones_proprietaire,class:"form-control", required: :true %>
  </div>

  <div class="form-group col-lg-6 col-12">
    <label for="compte"><small>adresse email</small></label>
    <%= form.email_field :email_proprietaire,class:"form-control", required: :true %>
  </div>
   <div class="form-group col-lg-12 col-12">
    <label for="compte"><small>statut professionnel du bailleur</small></label>
    <%= form.collection_select :situation_id, Situation.all, :id, :nom, {prompt:"Sélectionner"},class:"select-css form-control", required: :true %>
  </div>
  <div class="form-group col-lg-12 col-12">
    <label for="compte"><small>lieu de résidence du bailleur</small></label>
    <%= form.text_field :lieu_de_residence_proprietaire,class:"form-control", required: :true %>
  </div>
  </div>

<div class="actions">
    <%= form.button 'Valider'.html_safe, type: :submit, class:"btn btn-kit-yellow btn-block", :data => {:disable_with => "<i class='fa fa-spinner fa-spin'></i> Validation..."} %>
  </div>

</div>
  </div>
  
<% end %>
</div>
    </div>
  </div>
  </div>