<div class="container-fluid">
  <div class="row">
    <%= render 'menus/main' %>
    <div class="col-lg-6 offset-lg-3 col-12 m-top text-center">      
<div class="card">
  <div class="card-body">
    <h4 class="card-title text-success text-maj text-bold" id="notice">
    <%= notice %>
  </h4>
  </div>
</div>
    </div>
  </div>
</div>
<!--

<p>
  <strong>Nom proprietaire:</strong>
  <%= @loyer.nom_proprietaire %>
</p>

<p>
  <strong>Date de naissance proprietaire:</strong>
  <%= @loyer.date_de_naissance_proprietaire %>
</p>

<p>
  <strong>Lieu de naissance proprietaire:</strong>
  <%= @loyer.lieu_de_naissance_proprietaire %>
</p>

<p>
  <strong>Telephones proprietaire:</strong>
  <%= @loyer.telephones_proprietaire %>
</p>

<p>
  <strong>Email proprietaire:</strong>
  <%= @loyer.email_proprietaire %>
</p>

<p>
  <strong>Lieu de residence proprietaire:</strong>
  <%= @loyer.lieu_de_residence_proprietaire %>
</p>

<p>
  <strong>Nom locataire:</strong>
  <%= @loyer.nom_locataire %>
</p>

<p>
  <strong>Nationalite locataire:</strong>
  <%= @loyer.nationalite_locataire %>
</p>

<p>
  <strong>Profession locataire:</strong>
  <%= @loyer.profession_locataire %>
</p>

<p>
  <strong>Date de naissance locataire:</strong>
  <%= @loyer.date_de_naissance_locataire %>
</p>

<p>
  <strong>Lieu de naissance locataire:</strong>
  <%= @loyer.lieu_de_naissance_locataire %>
</p>

<p>
  <strong>Telephones locataire:</strong>
  <%= @loyer.telephones_locataire %>
</p>

<p>
  <strong>Email locataire:</strong>
  <%= @loyer.email_locataire %>
</p>

<p>
  <strong>Employeur locataire:</strong>
  <%= @loyer.employeur_locataire %>
</p>

<p>
  <strong>Secteur locataire:</strong>
  <%= @loyer.secteur_locataire %>
</p>

<p>
  <strong>Cnamgs locataire:</strong>
  <%= @loyer.cnamgs_locataire %>
</p>

<p>
  <strong>Cnss locataire:</strong>
  <%= @loyer.cnss_locataire %>
</p>

<p>
  <strong>Justification locataire:</strong>
  <%= @loyer.justification_locataire %>
</p>

<%= link_to 'Edit', edit_loyer_path(@loyer) %> |
<%= link_to 'Back', loyers_path %>
