<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4 col-5" style="background:url(https://res.cloudinary.com/aseed/image/upload/v1587018572/covid-help3_rm0qjm.jpg)no-repeat;background-size:cover;background-position:center;">
    </div>
    <div class="col-md-8 col-7">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col mb-4">
    <div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4" style="background:url(https://res.cloudinary.com/aseed/image/upload/v1587018572/covid-help3_rm0qjm.jpg)no-repeat;background-size:cover;background-position:center;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col mb-4">
   <div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4" style="background:url(https://res.cloudinary.com/aseed/image/upload/v1587018572/covid-help3_rm0qjm.jpg)no-repeat;background-size:cover;background-position:center;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="col mb-4">
    <div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4" style="background:url(https://res.cloudinary.com/aseed/image/upload/v1587018572/covid-help3_rm0qjm.jpg)no-repeat;background-size:cover;background-position:center;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
</div>
<!--
<h1>Dons</h1>
<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Nom entreprise</th>
      <th>Numero de telephone</th>
      <th>Email</th>
      <th>Adresse</th>
      <th>Detail</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dons.each do |don| %>
      <tr>
        <td><%= don.nom %></td>
        <td><%= don.nom_entreprise %></td>
        <td><%= don.numero_de_telephone %></td>
        <td><%= don.email %></td>
        <td><%= don.adresse %></td>
        <td><%= don.detail %></td>
        <td><%= don.date %></td>
        <td><%= link_to 'Show', don %></td>
        <td><%= link_to 'Edit', edit_don_path(don) %></td>
        <td><%= link_to 'Destroy', don, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Don', new_don_path %>
