<div class="container-fluid">
  <div class="row">
    <%= render 'menus/main' %>
    <div class="col-lg-6 offset-3 col-12 m-top text-center">      
<div class="card">
  <div class="card-body">
    <h4 class="card-title text-success text-maj text-bold" id="notice">
    <%= notice %>
  </h4>
  </div>
</div>
    </div>
  </div>
</div>
<!--
<p>
  <strong>Nom:</strong>
  <%= @don.nom %>
</p>

<p>
  <strong>Nom entreprise:</strong>
  <%= @don.nom_entreprise %>
</p>

<p>
  <strong>Numero de telephone:</strong>
  <%= @don.numero_de_telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @don.email %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @don.adresse %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @don.detail %>
</p>

<p>
  <strong>Date:</strong>
  <%= @don.date %>
</p>

<%= link_to 'Edit', edit_don_path(@don) %> |
<%= link_to 'Back', dons_path %>
