<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @statut.nom %>
</p>

<p>
  <strong>Description:</strong>
  <%= @statut.description %>
</p>

<%= link_to 'Edit', edit_statut_path(@statut) %> |
<%= link_to 'Back', statuts_path %>
