<p id="notice"><%= notice %></p>

<p>
  <strong>Statut:</strong>
  <%= @banquealimentaire.statut_id %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @banquealimentaire.situation_id %>
</p>

<p>
  <strong>Actu:</strong>
  <%= @banquealimentaire.actu_id %>
</p>

<p>
  <strong>Nombre de personnes:</strong>
  <%= @banquealimentaire.nombre_de_personnes %>
</p>

<p>
  <strong>Nombre handicapes:</strong>
  <%= @banquealimentaire.nombre_handicapes %>
</p>

<p>
  <strong>Nombre vieux:</strong>
  <%= @banquealimentaire.nombre_vieux %>
</p>

<p>
  <strong>Nombre jeune mere:</strong>
  <%= @banquealimentaire.nombre_jeune_mere %>
</p>

<p>
  <strong>Nombre jeune:</strong>
  <%= @banquealimentaire.nombre_jeune %>
</p>

<p>
  <strong>Nombre nourisson:</strong>
  <%= @banquealimentaire.nombre_nourisson %>
</p>

<p>
  <strong>Chef:</strong>
  <%= @banquealimentaire.chef_id %>
</p>

<p>
  <strong>Distribue:</strong>
  <%= @banquealimentaire.distribue_id %>
</p>

<p>
  <strong>Compte:</strong>
  <%= @banquealimentaire.compte_id %>
</p>

<%= link_to 'Edit', edit_banquealimentaire_path(@banquealimentaire) %> |
<%= link_to 'Back', banquealimentaires_path %>
