<p id="notice"><%= notice %></p>

<h1>Leskits</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Prix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leskits.each do |leskit| %>
      <tr>
        <td><%= leskit.titre %></td>
        <td><%= leskit.prix %></td>
        <td><%= link_to 'Show', leskit %></td>
        <td><%= link_to 'Edit', edit_leskit_path(leskit) %></td>
        <td><%= link_to 'Destroy', leskit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Leskit', new_leskit_path %>
