<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @leskit.titre %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @leskit.prix %>
</p>

<%= link_to 'Edit', edit_leskit_path(@leskit) %> |
<%= link_to 'Back', leskits_path %>
