<%= form_with(model: don_numeraire, local: true) do |form| %>
  <% if don_numeraire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(don_numeraire.errors.count, "error") %> prohibited this don_numeraire from being saved:</h2>

      <ul>
      <% don_numeraire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nom %>
    <%= form.text_field :nom %>
  </div>

  <div class="field">
    <%= form.label :nom_entreprise %>
    <%= form.text_field :nom_entreprise %>
  </div>

  <div class="field">
    <%= form.label :numero_de_telephone %>
    <%= form.text_field :numero_de_telephone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :adresse %>
    <%= form.text_field :adresse %>
  </div>

  <div class="field">
    <%= form.label :montant %>
    <%= form.text_field :montant %>
  </div>

  <div class="field">
    <%= form.label :nature_id %>
    <%= form.number_field :nature_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
